<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <style>
        html, body {
            height: 100%;
        }

        .main-row-height-100 {
            height: 95%;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<div th:insert="views/main/header :: header" style="height: 6%;"></div>
<div class="container-fluid main-row-height-100">
    <div class="row main-row-height-100">
        <div id="sidebarMenu main-row-height-100" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse"
             th:insert="views/main/menu::menu">
        </div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div layout:fragment="content"></div>
        </main>
    </div>
</div>
<script th:src="@{/jquery/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/popper/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>